<?xml version='1.0' encoding='UTF-8'?><!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://static.jiyouhome.com/download/jiyouhome_shopb.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://dashboard.appcan.cn/upload/image/201601/29/f4dd84e118860f1fe546ccd442c5a4.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://dashboard.appcan.cn/upload/image/201601/29/f4dd84e118860f1fe546ccd442c5a4.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.jiyouhome.shopb</string>
                    <key>bundle-version</key>
                    <string>00.00.0584</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>极优佳商户版</string>
                    <key>title</key>
                    <string>极优佳商户版</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>